div.stats{
    width: 400px;
    height: 400px;
    font-size: 200%;
    position: absolute;
    top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url("../img/coin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div.stats-coins{
    color: black;
    font-size: 150%;

}